[v-cloak] {
  display: none;
}

:root {
  --bg: #0e131f;
  --fg: #dddddf20;
  --snake: #ffcab1;
  --primary: #21a179aa;
  --secondary: #da4167;

  --food: var(--secondary);
}

.bg {
  background-color: var(--bg);
  color: white;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grow {
  flex: 1;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item {
  border-radius: 50%;
  height: 50%;
  width: 50%;
  background-color: var(--fg);
  transition: all 0.125s;
}

@media (min-width: 1000px) {
  .grid-item:hover {
    height: 80%;
    width: 80%;
    cursor: pointer;
  }
}

.snake {
  border-radius: 12%;
  height: 70%;
  width: 70%;
  background-color: var(--snake);
}

.head {
  height: 75%;
  width: 75%;
}

.food {
  border-radius: 12%;
  height: 60%;
  width: 60%;
  background-color: var(--food);
}

.fill-height {
  height: 99vh;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.rotate-45 {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate-neg-45 {
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.text-center {
  text-align: center;
}

.mobile-buttons {
  position: fixed;
  bottom: 7rem;
  left: 0;
  right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 750px) {
  .mobile {
    display: none;
  }
}

.fa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa:before {
  font-family: FontAwesome;
}

.btn {
  border-radius: 50%;
  height: 4em;
  width: 4em;
  background-color: #ddd1;
  margin: 1em;
  margin-top: 0;
}

.btn:hover {
  background-color: #ddd3;
}

.caption {
  color: grey;
}

.active {
  border-color: var(--secondary) !important;
}

.padding-top {
  padding-top: 1rem;
}

.nomargin * {
  margin: 0 !important;
}

.qvalue {
  color: #aaa;
}

.qhighest {
  color: white !important;
}
