<!DOCTYPE html>
<html>
		<head>
				<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
				<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
				<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

				<title>Snake WASM</title>
				<script type="module" src="index.js"></script>
		</head>
		<body>
				<div class="fill-height flex align-items-center">
						<div class="container">
								<!-- Page content -->
								<div id="app" class="eight columns offset-by-two">

										<!-- Start view -->
										<div v-if="!running">
												<label class="text-center">Play snake?</label>
												<button class="six columns offset-by-three button-primary" v-on:click="start(false)">Let me play snake!</button>
												<button class="six columns offset-by-three" v-on:click="start(true)">Let AI play snake!</button>
										</div>

										<!-- Game view -->
										<div v-if="running" class="flex-column" v-bind:style="{'height': areaHeight}">
												<div class="grow flex" v-for="row in state">
														<div class="grow grid-cell" v-for="cell in row">
																<div class="grid-item" v-bind:class="{ head: cell == 1, body: cell == 0, food: cell == 3}">
																</div>
														</div>
												</div>

										</div>

										<!-- Mobile buttons -->
										<div v-show="running" class="mobile footer flex">
												<div id="left-btn" class="btn fa fa-arrow-left rotate-neg-45"></div>
												<div class="grow"></div>

												<div id="right-btn" class="btn fa fa-arrow-right rotate-neg-45"></div>
										</div>
								</div>

								<!-- Info -->
								<div class="ten columns offset-by-one text-center">
										<small>
												Project on <a href="https://github.com/alamminsalo/snakewasm">Github</a>
												|
												Powered by 
												<a href="https://vuejs.org">Vue.js</a> and
												<a href="https://www.rust-lang.org">Rust</a>
										</small>
										<br/>
										<small>
								</div>
						</div>
				</div>
		</body>
</html>
