<!DOCTYPE html>
<html>
		<head>
				<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
				<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
				<title>snake</title>
				<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
				<link rel="manifest" href="manifest.json">
				<script type="module" src="index.js"></script>
		</head>
		<body class="bg">
				<div class="fill-height flex align-items-center">
						<div class="container">
								<!-- Page content -->
								<div id="app" class="eight columns offset-by-two text-center">
										<div v-if="!running" class="row">
												<h1><pre>snake</pre></h1>
												<pre>Select player</pre>
										</div>

										<!-- Start view -->
										<div v-if="!running" class="row">
												<button class="six columns button-primary" v-on:click="start(false)">Me</button>
												<button class="six columns button-secondary" v-on:click="start(true)">AI</button>
										</div>

										<!-- legend -->
										<div v-show="!running" class="row">
												<small><pre>Press &lt;<b>Space</b>&gt; to pause. Click anywhere to drop food.</pre></small>
										</div>

										<!-- Game view -->
										<div v-if="running" class="flex-column" v-bind:style="{'height': areaHeight}">
												<div class="grow flex" v-for="(row, y) in state">
														<div class="grow grid-cell" v-for="(cell, x) in row">
																<div class="grid-item" v-bind:class="{ snake: cell < 2, head: cell==1, food: cell == 3}" :item="[x,y]" v-on:click="cell_clicked">
																</div>
														</div>
												</div>
										</div>
										
										<!-- Game buttons -->
										<div v-show="running" class="row padding-top">
												<button class="six columns" v-bind:class="{twelve: !enable_ai}"v-on:click="stop()">Back</button>
												<button v-show="enable_ai" class="six columns" v-bind:class="{active: autopause}" v-on:click="toggle_autopause">Autopause</button>
										</div>

										<!-- Mobile buttons -->
										<div v-show="running && !enable_ai" class="mobile mobile-buttons flex">
												<div id="left-btn" class="btn fa fa-arrow-left rotate-45"></div>
												<div class="grow"></div>
												<div id="right-btn" class="btn fa fa-arrow-right rotate-45"></div>
										</div>
								</div>

								<!-- Info -->
								<div class="footer row text-center">
										<small><pre><a href="https://github.com/alamminsalo/snakewasm">Github</a> | Made using <a href="https://vuejs.org">VueJS</a>, <a href="https://rust-lang.org">Rust</a>, <a href="https://pytorch.org/">PyTorch</a> and <a href="https://onnx.ai">ONNX</a> </pre></small>
								</div>
						</div>
				</div>
		</body>
</html>
